.App {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* ------------------------------------------------------------------ */
/*  General Styles
/* ------------------------------------------------------------------ */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  padding-bottom: 0px;
}
/* ------------------------------------------------------------------ */
/*  Header Styles
/* ------------------------------------------------------------------ */

#header {
  padding-top: 140px;
}

#header .banner {
  position: relative;
  height: auto;
  min-height: 500px;
  width: 100%;
  padding-top: 90px;
  background: white;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding-bottom: 0px;
  text-align: center;
  margin-bottom: 0px;
}

#header .typeit {
  font-family: 'Bitter', serif;
  font-size: 11vw;
  /* font: 12vw 'opensans-bold', san-serif; */
  color: rgb(10, 10, 10);
  letter-spacing: 4px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, .8);
  margin-bottom: 25px;
}

#header .banner-text h1 {
  font-family: 'Bitter', serif;
  font-size: 5vw;
  /* font: 6vw 'librebaskerville-regular', serif; */
  color: black;
  letter-spacing: 1.5px;
  margin: 0 auto;
  width: 70%;
  min-height: 350px;
  padding-top: 105px;
  padding-bottom: 0px;
  text-align: center;
  vertical-align: middle;
}

#header .image-banner img{
  display: block !important;
  width: 100% !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;

}

@media only screen and (max-width:620px) {
  #header .banner-text h1 {
    width: 100%;
  }
}

/* ------------------------------------------------------------------ */
/*  Nav Styles
/* ------------------------------------------------------------------ */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

#nav-wrap {
  font-family: 'Bitter', serif;
  font-size: 15px;
  /* font: 15px'opensans-bold', san-serif; */
  width: 100%;
  letter-spacing: 1.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
}

#nav-wrap > a.mobile-btn { display: none;}

ul#nav {
  min-height: 48px;
  width: auto;
  text-align: center;
}

ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;

}

ul#nav li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  color: white;
  text-decoration: none;
}

ul#nav li a:active {
  color: rgb(199, 184, 118);

}

ul#nav li a.current {
  color: rgb(206, 177, 48);
}

/* ------------------------------------------------------------------ */
/*  About Styles
/* ------------------------------------------------------------------ */
#about {
  padding-top: 90px;
  padding-bottom: 50px;
  /* padding-left: 340px;
  padding-right: 340px; */
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  text-align: center;
  align-content: center;
}

#about h1 {
  font-family: 'Bitter', serif;
  font-size: 19px;
  color: black;
  letter-spacing: 1.6px;
  margin: 0;
  text-align: center;
}

#about p {
  font-family: 'Bitter', serif;
  font-size: 16px;
  line-height: 25px;
  color: black;
  text-align: center;

}

@media only screen and (max-width:620px) {
  #about {
    width: 95%;
  }
}
/* ------------------------------------------------------------------ */
/*  Amaro Styles
/* ------------------------------------------------------------------ */

#amaro-container {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  width: 80%;
}
#amaro-container .banner-text h1 {
  font-family: 'Bitter', serif;
  font-size: 25px;
  color: black;
  letter-spacing: 1.5px;
  margin: 0 auto;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* min-height: 350px;
  padding-top: 105px;
  padding-bottom: 0px; */
  text-align: center;
  vertical-align: middle;
}

#amaro-container .banner-text p {
  font-family: 'Bitter', serif;
  font-size: 12px;
  color: black;
  letter-spacing: 1.0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-bottom: 1px solid #E8E8E8;
} 

@media only screen and (max-width:620px) {
  #amaro-container .banner-text h1{
    width: 100%;
  }
  #amaro-container .banner-text p {
    width: 100%;
  }
}

#amaro {
  display: grid;
  grid-template-columns: 30% 70%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E8E8E8;
  /* overflow: hidden; */
}

#amaro .bottle {
  text-align: center;
}

#amaro .bottle img {
  max-width: 100%;
  height: auto
}

#amaro .bottle:hover {
  opacity: 0.8;
}

.bottle:hover .overlay {
  opacity: 1;
}

#amaro .overlay {
  transition: .4s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: relative;
  text-align: center;
  /* top: 50%;
  left: 50%; */


}

#amaro .overlay-image {
  text-align: center;
  width: 80%;
  top: 100%;
  left: 10%;
}

#amaro .main {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  #amaro {
    grid-template-columns: 100%;
  }
}

#amaro .main h1 {
  font-family: 'Bitter', serif;
  font-size: 25px;
  color: black;
  letter-spacing: 1px;
}

#amaro .main p {
  font: 16px 'librebaskerville-regular', serif;
  color: black;
  letter-spacing: 1px;
}

#amaro .main span {
  color: rgb(141, 141, 133);
  font-weight: bold;
}

#amaro .main blockquote p {
  font-size: 14px;
  background: rgb(245, 233, 212);
  border-radius: 10px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

#amaro .main blockquote cite {
  font-size: 10px;
}

#go-top {
  font-family: 'Bitter', serif;
  font-size: 12px;

}

#go-top h3 {
  color: rgb(119, 66, 22);
}

#go-top h3:hover {
  color: rgb(190, 144, 58);
}

/* ------------------------------------------------------------------ */
/*  Events Styles
/* ------------------------------------------------------------------ */

#events {
  padding-top: 105px;
  padding-bottom: 80px;
  line-height: 30px;
}

#events h1 {
  /* font: 25px/1.9em 'librebaskerville-regular', serif; */
  font-family: 'Bitter', serif;
  font-size: 25px;
  color: black;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

#events h1:hover {
  color: rgb(218, 92, 53);
}

#events .infoLabel {
  font: 20px/1.9em 'librebaskerville-regular', serif;
  color: black;
  letter-spacing: 1px;
  margin: auto;
  width: 60%;
  text-align: center;
}

#events span {
  color: rgb(128, 128, 125);
}

#events a {
  color: rgb(218, 92, 53);
}

@media only screen and (max-width:620px) {
  #events .infoLabel {
    width: 100%;
  }
}

/* ------------------------------------------------------------------ */
/*  Nick and Mal Styles
/* ------------------------------------------------------------------ */

#nickandmal {
  padding-top: 105px;
  padding-bottom: 80px;
  padding-left: auto;
  padding-right: auto;
}

#nickandmal .tastingSection {
  padding-left: 150px;
  padding-right: 150px;
  /* padding-bottom: 80px; */
}

#nickandmal hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 10%;
  margin-right: 10%;
  border-style: inset;
  border-width: 0.5px;
}

#nickandmal h1 {
  font-family: 'Bitter', serif;
  font-size: 25px;
  color: black;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

#nickandmal .infoLabel {
  font: 20px/1.9em 'librebaskerville-regular', serif;
  color: black;
  letter-spacing: 1px;
  margin: auto;
  width: 65%;
  text-align: center;
  padding-top: 105px;
  line-height: 30px;
  /* padding-left: 60px;
  padding-right: 60px; */
}

#nickandmal .infotext-p {
  margin: auto;
  width: 65%;
}

#nickandmal .infoText {
  line-height: 30px;
}

#nickandmal span {
  color: rgb(128, 128, 125);
  font-weight: bold;
  font-size: 18px;
}

#nickandmal a {
  color: rgb(218, 92, 53);
}

#nickandmal a:hover {
  color: rgb(218, 92, 53);
}

#nickandmal .photo {
  height: 48%;
  width: 48%;
}

#nickandmal .signature {
  font: 14px/1em 'librebaskerville-regular', serif;
  color: black;
  letter-spacing: 1px;
}

#nickandmal .tasting {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: auto auto auto;
  /* grid-template-columns: 65% 65%;
  grid-column-gap: 1px;; */
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  #nickandmal .tasting {
    grid-template-columns: 100%;
  }
  #nickandmal .photo {
    height: 100%;
    width: 100%;
  }
  #nickandmal .infoLabel {
    width: 100%;
  }
  #nickandmal .tastingSection {
    padding-left: 10px;
    padding-right: 10px;
  }
  #nickandmal .infoText {
    padding-bottom: 10px;
  }

}

/* ------------------------------------------------------------------ */
/*  Tasting Styles
/* ------------------------------------------------------------------ */

#tasting {
  text-align: center;
}

#tasting .card h3 {
  font-family: 'Bitter', serif;
  font-size: 22px;
  letter-spacing: 1px;
}

#tasting .card p {
  font: 16px/1em 'librebaskerville-regular', serif;
}

#tasting .card span {
  font: 16px/1em 'librebaskerville-regular', serif;
}

#tasting .card img {
  height: 35%;
  width: 35%;
}

#tasting .card {
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;

}

#tasting .card:hover {
  box-shadow: 0 2px 17px 2px rgba(0,0,0,0.2);
}

#tasting .amaroCard {
  padding: 2px 16px;
}



/* ------------------------------------------------------------------ */
/*  Error Styles
/* ------------------------------------------------------------------ */

#error {
  padding-top: 60px;
  overflow: hidden;
}

#error h1 {
  font: 20px/1.9em 'librebaskerville-regular', serif;
  color: black;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.error {
  height: 750px;
  width: 100%;
}

/* ------------------------------------------------------------------ */
/*  Footer Styles
/* ------------------------------------------------------------------ */

#footer {
  overflow: hidden;
  background-color: #0f0f0f;
  padding-bottom: 0 !important;
  margin-bottom: 0;
}

#footer .copy {
  font-family: 'Bitter', serif;
  letter-spacing: 1px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #0f0f0f;
  font-size: 12px;
  text-align: center;
  position: relative;
  color: #525252;
}

#footer .image-banner img{
  display: block !important;
  width: 100% !important;
  margin-bottom: 0 !important;
  /* padding-bottom: 0 !important; */
}

/* ------------------------------------------------------------------ */
/*  Wallpaper Styles
/* ------------------------------------------------------------------ */

.wallpaper-section {
  padding-top: 140px;
  min-height: 480px !important; 
  min-width: fit-content;
  background: #161415 url(./Assets/bitter.png) repeat-x;
  background-size: auto;
  padding: 0;
}

/* ------------------------------------------------------------------ */
/*  Scroll Styles
/* ------------------------------------------------------------------ */

 #scroll {
  position: fixed;
  background: black;
  color: white;
  font-family: 'Bitter', serif;
  font-size: 12px;
  line-height: 20px;
  border-radius: 25px;
  width: 100px;
  padding-top: 4px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  /* visibility: hidden; */
}

#scroll:hover {
  background-color: rgb(190, 144, 58)
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  #scroll {
    width: 65px;
    right: 5px;

  }
}

/* ------------------------------------------------------------------ */
/*  SearchBar Styles
/* ------------------------------------------------------------------ */

form.search-bar-form input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 0.9px solid grey;
  width: 30%;
  font-family: 'Bitter', serif;
}

form.search-bar-form input:active {
  border: 0.9px solid rgb(214, 80, 39);
}

form.search-bar-form button {
  width: 3%;
  padding: 0.9% 0.5%;
  /* padding: 11px; */
  color: white;
  background:  rgb(218, 92, 53);
  border: 0.9px solid grey;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  align-content: center;
}

form.search-bar-form button:hover {
  background:  rgb(214, 80, 39);
}

form.search-bar-form::after {
  content: "";
  clear: both;
}

.no-match {

  font-size: 15px;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  form.search-bar-form input[type=text] {
    width: 80%;
  }
  form.search-bar-form button {
    width: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
